@font-face {
    font-family: 'agrandir-regular';
    src: url('Agrandir-Regular.otf') format('otf'),
         url('agrandir-regular-webfont.woff2') format('woff2'),
         url('agrandir-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
